.card {
	min-width: 250px;
	box-shadow: 0 0 5px #2226;
	border-radius: 1em;
	padding: 1em;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 1em;
	justify-content: center;
	align-items: center;
}
.card__heart {
	position: absolute;
	top: .5em;
	right: 1em;
	color: black;
	font-size: 1.4em;
}
.card__pic {
	height: 120px;
	display: flex;
	justify-content: center;
	padding: 10px;
}
.card img {
	max-width: 100%;
	min-height: 100%;
}

.card__price,
.card__weight {
	align-self: flex-start;
}

.card__weight {
	opacity: 0.7;
}
.card h3 {
	align-self: flex-start;
	font-size: 1.1em;
}
h3 {
	margin: 0;
	padding: 0;
}



.product-img {
   transition: 1s ease-in-out;
}
.product-img:hover {
   transform: scale(1.1);
}
.product-img img {
   display: block;
   width: 100%;
}
.product-list {
   margin-top: 15px;
}
.product-list h3 {
   font-weight: 700;
   color: #39404B;
   margin: 0;
   text-transform: uppercase;
   font-size: 14px;
   line-height: 2;
}
.price {
   color: #E34D38;
   display: block;
   margin-bottom: 12px;
}
.stars {
   height: 14px;
   line-height: 14px;
   margin: 7px 0;
}
.stars:before {
   content: "\f005\f005\f005\f005\f006";
   color: #EFB71C;
   font-size: 14px;
   font-family: FontAwesome;
}
.discount {
   border-top: 1px solid #eee;
   padding-top: 4px;
   font-size: 13px;
   height: 30px;
   line-height: 30px;
}
.discount:after {
   content: "";
   display: table;
   clear: both;
}
.add-to-cart, .add-to-links {
   float: left;
}
.cart-button {
   text-decoration: none;
   color: #8C877C;
   padding-right: 20px;
   border-right: 1px solid #ddd;
   transition: .4s linear;
}
.cart-button:before {
   content: "\f07a";
   font-family: FontAwesome;
   margin-right: 10px;
}
.add-to-cart:hover .cart-button, .wishlist:hover, .compare:hover {
   color: #E34D38;
}
.wishlist, .compare {
   color: #8C877C;
   padding-left: 20px;
   transition: .4s linear;
}
.wishlist:after, .compare:after {
   display: inline-block;
   font-family: FontAwesome;
   font-size: 13px;
}
.wishlist:after {
   content: "\f004";
}
.compare:after {
   content: "\f079";
}

@media(max-width: 540px) {
	.card {
		width: 290px;
	}
	.card__pic {
		height: 150px;
	}
	.card h3 {
		align-self: stretch;
		font-size: 1.1em;
	}
}