.product__container{
	margin-top: 50px;
	display: flexbox;
	justify-content: flex-start;
}
.product__info{
	display: flex;
  	flex-direction:row;
  	align-items: center;
   justify-content: flex-start;
   gap: 150px;
	margin-top: 50px;
}
.product__item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
	margin-bottom: 50px 0;
}
.product__button{
	display: flex;
	gap: 20px;
	justify-content: flex-end;
	
}
h4 {
	margin: 0;
 }
h5{
	margin: 20px 0;
	color: #f47717;
	font-style: bold;
	font-size: 32px;

}
 p {
	margin: 0;
	font-size: 20px;
	color: black;
	font-style: bold;
 }
.img{
	max-width: 450px;
	margin-left: 25px;
	grid-column-start: auto;
}
