footer {
	background-color: black;
	color: #f5f5f5;
	padding: 90px 20px;
	font-size: 16px;
	font-weight: 600;
}
.footer__container{
	display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 30px 40px;
	gap: 220px;
}
.footer__copy {
   text-align: center;
   opacity: 0.5;
   margin-top: 40px;
}

.footer__group {
	margin-right: 80px;
}
.footer h3 {
	font-size: 16px;
	opacity: 0.7;
	padding-bottom: 30px;
}
.footer__links {
	display: flex;
	flex-direction: column;
}
.footer__links a {
	margin-bottom: 15px;
}
footer h3 {
   opacity: 0.7;
   font-size: 16px;
   margin-bottom: 30px;
}
.icon {
	gap: 16px;
}